
.container{
   width:100%;
}
.panel-form{
   width:90%;
   top:10px;
   margin:30px auto;
   border-radius: 3px;
}
.title-form-login h2{
   text-align: center;
   color:#3b5998;
}
/* .box-btn{
   display: flex;
   justify-content: center;
}   */
.box-btn button.btnGoogle{
   width: 200px;
   height:45px;
   border-radius: 4px;
   background: #db3236;
   color:white;
   border:0px transparent;
   text-align: center;
}
/* .box-btn .btnFacebook { 
   background: #3b5998;
   float: right;
   border:1px solid gray;
   box-shadow: 0px 2px rgba(0, 0, 0, 0.24);
 } */
 .btnGoogle { 
   background: #db3236;
 }
.header-box{
   background-color:lavender;
   display: flex;
   justify-content: space-between;
}
.btn-logout{
   margin:30px 10px 0 0;
   height: 30px;
}
.menu--color{
   background-color: lavender;
   font-weight: bold;
}
.container{
   position: relative;
}
.box-imgbanner{
   position: relative;
   overflow: hidden;
   height:450px;
}
.imgbanner{
   width:100%;
}
.title-banner{
   position: absolute;
   top:70px;
   left: 5%;
   font-size:2rem;
   color:white;  
}
.title-banner>p{
   font-size:15px;
}
.box-imgbanner>Button{
   position: absolute;
   left: 5%;
   top: 180px;
   color:white;
   font-weight: bold;
   border:2px solid white;
}
.box-imgbanner>Button:hover{
   background-color:white;
   color:#6504b5;
   border:2px solid white;
}
.log{
   padding:10px 50px 10px 10px;
}


/* ----------Footer---------- */
.content-footer{
   display: flex;
   justify-content: space-between;
}
.logo-footer{
   margin-bottom: 30px;
}
.footer-box{
   width: 100%;
   background-color:#6504b5;
}
.footer{
   padding:50px 5% 20px;
   color:white;
}
.footer-col{
   padding:0;
   line-height: 40px;
   list-style: none;
}
.footer-col>li{
   border-top:1px solid black;
}
.footer-col>li>a{
   color:white;
}
.contacts-footer{
   display: flex;
   justify-content: space-around;
   background-color:#2E0152;
   padding-top:15px;
}
.media-contacts{
   text-align: right;
}
.media-contacts a{
   margin-right: 20px;
   font-size:25px;
   color:white;
}

/* ----------Search---------- */
.input-search{
   outline:0;
   border:0;
   float: left;
   /* border:1px solid gray; */
}

.search-box{
   border:1px solid gray;
   background-color:white;
   float:right;
   padding-right: 5px;
}